<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a PhD Student at Boston Univeristy in the lab of Dr. Daniel Cifuentes
      <a class="underline-link" href="https://www.cifulab.com/" target="_blank"></a>. I previously worked with Dr. Dan Barouch
      <a class="underline-link" href="https://cvvr.hms.harvard.edu/lab/barouch-laboratory/" target="_blank"></a> at HMS investigating SARS-CoV-2 and HIV pathology and vaccinology. Then I worked for at Laronde Therapeutics, now Sail Biomedicines
      <a class="underline-link" href="https://www.sail.bio/" target="_blank"></a> developing circRNA vaccines against viruses. My current research is in RNA-protein interactions, microRNA, and zebrafish embryogenesis. I am passionate about molecular biology, but encounter sequencing and genomics datasets daily. By necessity, I am dappling in computational biology and machine learning.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and ideas &mdash; combining my technical knowledge
      with my keen eye for design to create a meaningful product. My goal is to always build applications that are scalable
      and efficient under the hood while managing all sort of data behind the scene.
    </p>

    <p>
      <strong>When I'm not injecting embryos or front of a computer screen</strong>, I'm probably lifting weights or caring for my plants.
    </p>
    
  </div>
</section>
