<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a PhD Student at Boston Univeristy in the lab of 
      <a class="underline-link" href="https://www.cifulab.com/" target="_blank">Dr. Daniel Cifuentes</a>. I previously worked with 
      <a class="underline-link" href="https://cvvr.hms.harvard.edu/lab/barouch-laboratory/" target="_blank">Dr. Dan Barouch</a> at HMS investigating SARS-CoV-2 and HIV pathology and vaccinology. Then I worked for at Laronde Therapeutics, now 
      <a class="underline-link" href="https://www.sail.bio/" target="_blank">Sail Biomedicines</a> developing circRNA vaccines against viruses. My current research is in RNA-protein interactions, microRNA, and zebrafish embryogenesis. I am passionate about molecular biology, but encounter sequencing and genomics datasets daily. By necessity, I am dappling in computational biology and machine learning.
    </p>

    <p>
      Write about myself.
    </p>

    <p>
      <strong>When I'm not injecting embryos or front of a computer screen</strong>, I'm probably lifting weights or caring for my plants.
    </p>
    
  </div>
</section>
