<nav class="topnav" id="topnav">
  <a href="#home" class="active" >Owen Sanborn</a>
  <a href="_includes/research/research.html" >Research</a>
  <a href="_includes/blog/blog.html" >Blog</a>
  <a href="_includes/resume/resume.html" >Resume</a>
  <a href="_includes/about/about.html" >About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</nav>

<style>
/* Add a black background color to the top navigation */
.topnav {
  background-color: #EAEDED ;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #AEB6BF ;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #518fd1;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
</style>  
