<nav class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#posts">Posts</a>
  <a href="#about">About</a>
</nav>

<style>
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #EAEDED;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center links within flexbox */
    align-items: center; /* Vertically center links */
    color: #85C1E9;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #CCD1D1;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #EBF5FB ;
    color: black;
  }
</style>
